@tailwind base;
@tailwind components;
@tailwind utilities;

.sci {
    display: flex;
    justify-content: center;
    align-items:center;
}
.sci svg {
    margin:  3px;
}
.update { /*aligner span aux icons*/
    display: flex;
    justify-content: center;
    align-items: center;
}

