.section{
    margin: 0;
    padding: 0;
    height: fit-content;
    display: flex;
    /* background-color:#b9caa98d; */

}
.left_section{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.left_section_head{
    font-size: 24px;
}
.container{
    height: 200px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.container p {
  /* max-width: 17rem;
  width: 60%; */
  text-align: justify;

}

.rigth_section{
width: 50%;
}
.rigth_section img{
    margin: 0;
    padding: 0;
width: 100%;
height: 100%;
object-fit: cover;
}
button.readmore{
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 5px 15px 5px 15px ;
    font-size: 18px;
    width: 200px;
    background-color: transparent;
    color: black;
    border: solid 1px black;
    transition: .5s ease;
    margin:0;

}
button.readmore:hover {
    background-color: black;
    color:white;
    transition: .5s ease;
}

@media (max-width: 888px) {
    .left_section, .rigth_section {
     width: 100%;
     flex-direction: column;
   height: 50vh;
 }
}
